@using DreamFishingNew.Models.Baits

@model AddBaitFormModel

@{
    ViewData["Title"] = "Add Bait";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Add Bait</h2>
        <partial name="_BaitFormPartial" model="@Model" />

    </div>
</div>


