@using DreamFishingNew.Models.Clothes

@model AddClothesFormModel

@{
    ViewData["Title"] = "Edit Clothes";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Edit Clothes</h2>
        <partial name="_ClothesFormPartial" model="@Model" />
    </div>
</div>