<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.squarespace-cdn.com/content/v1/5e9dcb8ab1599457ea967b0f/1587471454923-OKE0QD7JFADRGL2D2H2B/Fishing+Fever+-+Entrance+.jpeg?format=2500w" class="d-block w-100" alt="...">
            <ul>
                <li>Adres - Pernik Krakra street 28.</li>
                <li>Phone - 359 088 88 88 88</li>
                <li>Email DreamFishig@@gmail.com</li>
            </ul>
        </div>
        
    </div>
    
</div>
