@using DreamFishingNew.Models.Bags

@model AddBagFormModel

@{
    ViewData["Title"] = "Edit Bag";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Edit Bag</h2>
        <partial name="_BagFormPartial" model="@Model" />

    </div>
</div>