@using DreamFishingNew.Models.Meters

@model AddMeterFormModel

@{
    ViewData["Title"] = "Edit Meter";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Edit Meter</h2>
        <partial name="_MeterFormPartial" model="@Model" />
    </div>
</div>
