<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dream Fishing </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body >
    <header>
        <div class="jumbotron jumbotron-fluid" >
            <div class="container">
                <h1 class="display-4 text-center text-uppercase font-weight-bold" >Dream Fishing</h1>
                <p class="lead"></p>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Rods" asp-action="All">Rods</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reels" asp-action="All">Reels</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Baits" asp-action="All">Baits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Lines" asp-action="All">Lines</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Clothes" asp-action="All">Clothes</a>
                        </li>
                        <div class="dropdown ">
                            <button class="btn btn-secondary dropdown-toggle bg-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accessories
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Glasses" asp-action="All">Glasses</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Meters" asp-action="All">Meters</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Bags" asp-action="All">Bags</a>
                            </div>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Info" asp-controller="ForUs" asp-action="Index">For Us</a>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="dropdown offset-1">
                                <button class="btn btn-secondary dropdown-toggle bg-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add products and brands
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Brands" asp-action="Add">Brand</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Rods" asp-action="Add">Rod</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reels" asp-action="Add">Reel</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Baits" asp-action="Add">Bait</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Lines" asp-action="Add">Line</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Glasses" asp-action="Add">Glasses</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Meters" asp-action="Add">Meter</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Bags" asp-action="Add">Bag</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Clothes" asp-action="Add">Clothes</a>
                                </div>
                            </div>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DreamFishingNew - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
