@using DreamFishingNew.Models.Rods

@model AddRodFormModel

@{
    ViewData["Title"] = "Add Rod";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Add Rod</h2>
        <partial name="_RodFormPartial" model="@Model"/>
        
    </div>
</div>
